<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="sidenav-left" class="sidenav" hidden>
        <input class="close-sidenav" type="image" src="images/close.png" width=10% style="float:right;"/>
        <div class="sidenav-content"></div>
    </div>
    <div id="sidenav-right" class="sidenav" hidden>
        <input class="close-sidenav" type="image" src="images/close.png" width=10% style="float:left;"/>
        <div class="sidenav-content"></div class="sidenav-content">
    </div>
    <div id='container'>
        <h3 style="position: absolute; left: 20%;">Acords de pau i les connexions diplomàtiques internacionals</h3>
        <div class="row" id="selects">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <h6>Regió</h6>
                    <select id="region_sel" class="form-control custom-select">
                        <option value="eur">Europe and Eurasia</option>
                        <option value="me">Middle East and North Africa</option>
                        <option value="afr">Africa (excl MENA)</option>
                        <option value="as">Asia and Pacific</option>
                        <option value="am">Americas</option>
                        <option value="cr">Cross-regional</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <h6>Drets Humans</h6>
                    <select id="hr_sel" class="custom-select">
                        <option value="All">Tots</option>
                        <option value="EqGen">Igualtat de gènere</option>
                        <option value="HrDem">Drets democràtics</option>
                        <option value="Prot">Mesures de protecció</option>
                        <option value="HrCp">Drets politico-civils</option>
                        <option value="HrSec">Drets socio-econòmics</option>
                    </select>
                  </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div id='sankey'>Plotly chart will be drawn inside this DIV</div>
        <!-- <div id='sankey2'>Plotly chart will be drawn inside this DIV</div> -->
        </div>
    </div>
</body>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="js/d3.layout.cloud.js"></script>
<script src="js/grafics.js"></script>

<script>
</script>