    #container {
        height: 100%;
        width: 100%;
        font-size: 0;
    }

    #selects {
        position: absolute;
        /* top: 50%; */
        left: 30%;
        margin-top: 50px;
        /* margin-left: -100px; */
    }

    #sankey {
        margin: 25px;
        padding: 25px;
        position: absolute;
        top: 70%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    #sankey2 {
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* The sidebar menu */
    #sidenav-left {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: rgb(210, 205, 255);
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
        padding-left: 20px;
    }

    /* The sidebar menu */
    #sidenav-right {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: rgb(210, 205, 255);
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
        padding-left: 20px;
    }

    .sidenav {
        padding: 15px;
    }